html {
  overflow: hidden;
  height: 100%;
}

video {
  width: 700px;
  height: 500px;
}

div.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2vh;
}

div.controlButtons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 1vh;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

button.btnForward {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}